*{
  background-color:rgb(8, 9, 9);
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.movie-container {
	display: flex;
	flex-wrap: wrap;
	margin: 200px 200px;
}
.elm {
	
	margin: 1.25rem;
	
}
.card {
	width: 20rem;
	background-color: rgb(31, 171, 63);
	height: 800px;
}


.discription {
	color: rgb(189, 27, 30);
	font-size: 16px;
}

.info Button {
	font-size: 20px;
}
.note {
	color: black;
}
.Netflix{
	color: red;
	display: flex;
	justify-content: center;
	margin-top: 200px;
	font-size: 100px;
}